<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Todo List</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">User list</h1>
      <div class="add-user-form-container">
        <label>
          <p>First Name</p>
          <input id="first-name" />
        </label>
        <label>
          <p>Last name</p>
          <input id="last-name" />
        </label>
        <label>
          <p>Email</p>
          <input id="email" />
        </label>
        <label>
          <p>Catchphrase</p>
          <input id="catchphrase" />
        </label>
        <button id="add-to-list" class="add-to-list-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-plus"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <line x1="9" y1="12" x2="15" y2="12" />
            <line x1="12" y1="9" x2="12" y2="15" /></svg
          >Add new user
        </button>
      </div>
      <div class="users-table-container">
        <div class="table-header">
          <div class="w-15">First Name</div>
          <div class="w-15">Last Name</div>
          <div class="w-25">Email</div>
          <div class="w-45">Catchphrase</div>
        </div>
        <div class="table-rows">
          <!-- App root  -->
        </div>
      </div>
      <script src="main.js"></script>
    </div>
  </body>
</html>
