@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #031b4e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.add-user-form-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}

input {
  width: 90%;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  outline: none;
  padding: 8px 8px 8px 16px;
  font-size: 1.8rem;
  color: #0b2138;
  font-weight: 600;
  flex: 1;
}

input:focus {
  border-color: #3498db;
}

select:focus {
  border-color: #3498db;
}

label p {
  margin-bottom: 0.5rem;
}

.add-to-list-button {
  align-self: end;
  background-color: #3498db;
}

.add-to-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 3.4rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  outline-color: #d4d4d4;
  border-radius: 5px;
}

.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 20rem; */
  height: 2rem;
  color: white;
  margin: 0.3rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.success-color {
  background-color: #1abc9c;
}

.alert-color {
  background-color: #ff4163;
}

svg {
  margin-right: 1rem;
}

.users-table-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 30px 14px 14px hsl(0deg 0% 92% / 30%);
  border: #e7ebf0 1px solid;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}

.table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #e7ebf0;
  color: #0b2138;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.table-header-row {
  width: 25%;
}

.table-rows {
  display: flex;
  flex-direction: column;
}

.row:nth-child(even) {
  background-color: #ffffff;
}

.row:nth-child(odd) {
  background-color: #f4f7fc;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 1rem;
}

.with-buttons {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* TABLE ROWS WIDTH */
.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.align-end {
  text-align: end;
}

.grey-font {
  color: grey;
}

.bold {
  font-weight: 500;
}
